*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px, 62.5%*16px(browser default)=10px
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

    font-weight: normal;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent; // for mobile devices

    background: $color-bg;
}
