$color-primary: rgb(47, 47, 47);
$color-primary-dark: #1c88cc;
$color-text: ghostwhite;
$color-secondary:rgb(0, 149, 255);
$color-bg: #10171e;
$color-search-bg: #1a232f;
$color-search-border: #38444d;
